{
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "trailingComma": "all",
    "overrides": [
        {
            "files": ".ts",
            "options": {
                "printWidth": 140
            }
        }
    ]
}
